<table class="table">
  <caption>Seu carrinho de compras</caption>
  <thead>
    <tr>
      <td colspan="2"><%= Product.human_attribute_name(:name) %></td>
      <td><%= CartItem.human_attribute_name(:quantity) %></td>
      <td><%= CartItem.human_attribute_name(:price) %></td>
      <td><%= CartItem.human_attribute_name(:total) %></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= image_tag "#{item.name}.jpg", class: 'cart-picture' %></td>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= number_to_currency(item.total) %></td>
        <td>
          <%= link_to cart_item_path(item), method: :delete, remote: true, class: "btn btn-danger" do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4"><%= Cart.human_attribute_name(:total) %></td>
      <td colspan="2"><%= number_to_currency(total) %></td>
    </tr>
  </tbody>
</table>
