$main-color: #961e6e;

.system-title { 
  text-transform: uppercase; 
  font-weight: bold;
  color: $main-color;
}

.system-title:hover { 
  text-decoration: none; 
  color: $main-color;
}

#shopping-cart { 
  margin-top: 30px;
  font-size: 1.5em;
  text-decoration: none;
  a { color: $main-color; }
}

.shopping-cart-link:hover { text-decoration: none; }

.empty-cart { font-size: 2em; }

.table thead tr, .table tbody tr:last-child, .table caption { 
  font-weight: bold; 
  text-transform: uppercase;
}

.table thead tr, .table caption { text-align: center; }

.table caption { 
  font-size: 2em; 
  margin-bottom: 20px;
  color: $main-color;
}

.table tbody tr:last-child td:first-child { text-align: right; }

.table tbody tr td { 
  vertical-align: middle; 
  text-align: center; 
}

.table tbody tr td:nth-child(2) { text-align: left; }

.picture {
  width: 95%;
  height: 95%;
  display: block;
}

.cart-picture { height: 50%; }

.product { padding: 5px; }

.product-name {
  font-size: 0.9em;
  display: block;
  padding: 5%;
  height: 50px;
  color: $main-color;
  font-weight: bold;
}

.product-price {
  font-size: 1em;
  font-weight: bold;
  margin-left: 5%;
  height: 32px;
  line-height: 32px;
  display: inline-block;
}

.add-cart-button {
  float: right;
  margin-right: 10%;
  display: inline-block;
}
