<% @products.each do |product| %>
  <div class="col-xs-6 col-md-3 product">
    <%= image_tag "#{product.name}.jpg", class: 'picture' %>
    <span class="product-name"><%= product.name %></span>
    <div>
      <span class="product-price"><%= number_to_currency(product.price) %></span>

      <div class="add-cart-button">
        <%= form_tag add_cart_items_path, method: :patch, remote: true do %>
          <%= hidden_field_tag :product_id, product.id %>
          <%= button_tag type: 'submit', class: 'btn btn-success' do %>
            <span class="glyphicon glyphicon-shopping-cart"></span> <%= t('products.index.add') %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
