<%= link_to shopping_cart_path, class: 'shopping-cart-link' do %>
  <span class="glyphicon glyphicon-shopping-cart"></span>
  <span><%= t('shopping_carts.quantity', count: shopping_cart.items_count) %></span>
  <span>(<%= number_to_currency(shopping_cart.total) %>)</span>
<% end %>
