<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  <title><%= t('system_name') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main class="container">
    <div class="row">
      <div class="col-xs-6 text-left">
        <h1><%= link_to t('system_name'), root_path, class: 'system-title' %></h1>
      </div>

      <div id="shopping-cart" class="col-xs-6 text-right">
        <%= render 'layouts/shopping_cart' %>
      </div>
    </div>

    <hr/>

    <%= yield %>
  </main>

</body>
</html>
